{% extends 'layout.html' %}
{% block content %}
<section class="section">
	<div class="container is-max-desktop">
		<div class="columns">
			<div class="column">
				<input class="input" type="text" name="search" placeholder="Search for podcast" hx-indicator="#indicator" hx-get="/search" hx-target="#search-results" />
			</div>
		</div>
		<div class="column is-full">
			<div id="final-div">
				<p id="final-indicator" class="htmx-indicator">This could take a while</p>
				<progress id="final-indicator" class="htmx-indicator progress is-large is-info" max="100">60%</progress>
			</div>
		</div>
		<div class="columns">
			<div class="column is-half">
				<div id="search-results">
					<progress id="indicator" class="htmx-indicator progress is-large is-info" max="100">60%</progress>
				</div>
			</div>
			<div class="column is-half">
				<div id="episodes-div">
					<progress id="search-indicator" class="htmx-indicator progress is-large is-info" max="100">60%</progress>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
